
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form{margin:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,'\5b8b\4f53',sans-serif}
h1,h2,h3,h4,h5,h6{font-size:100%}
em,b{font-style:normal}
a{text-decoration:none}
a:hover{text-decoration:underline}
img{border:0}
button,input,select,textarea{font-size:100%;outline:none}
table{border-collapse:collapse;border-spacing:0}
td,th,ul,ol{padding:0}
ul,ol,dl{list-style:none;}

// .gray{-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: gray;pointer-events: none;}
// a:not(.gray):hover{-webkit-filter: brightness(1.2); filter: brightness(1.2);}
// .clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
// .clearfix{*zoom:1;}

/*! 通用底部样式*/
// #afooter {background: #1c1c1c;text-align: center;}
// #afooter .wrap_ieg {width: 1240px;margin: 0 auto;padding: 30px 0;}
// #afooter p {color: #6e6e6e;line-height: 24px;font-size: 10px;}
// #afooter a {color: #6e6e6e;font-size: 12px}
// /*! asyncCookie的iframe样式*/
// #loginStatusSyncFrame_ams_ame {display: block;}

html,body,.ost,.ost_box,#_overlay_ {min-width: 750px !important;}
// .g-wrap {
//   position: relative;font-family: '\5FAE\8F6F\96C5\9ED1';
//   a {-webkit-transition: filter .3s,border .3s,color .3s; transition: filter .3s,border .3s,color .3s;}
//   a:hover { text-decoration: none; -webkit-filter: brightness(1.2); filter: brightness(1.2); }
// }